{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "plugins": ["prettier", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "semi": false,
                "singleQuote": true,
                "printWidth": 120,
                "tabWidth": 4,
                "arrowParens": "always",
                "jsxSingleQuote": false,
                "jsxBracketSameLine": true
            }
        ],
        "semi": 0,
        "eqeqeq": [2, "always"],
        "quotes": [2, "single"],
        "jsx-quotes": [2, "prefer-double"],
        "no-undef": 0,
        "no-console": 1,
        "no-underscore-dangle": 0,
        "no-unused-vars": 0,
        "no-mixed-operators": [
            1,
            {
                "allowSamePrecedence": true
            }
        ],
        "no-plusplus": 0,
        "eol-last": [2, "always"],
        "no-confusing-arrow": 0,
        "arrow-parens": 2,
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "arrow-body-style": [2, "as-needed"],
        "no-param-reassign": 0,
        "prefer-template": 0,
        "prefer-promise-reject-errors": 0,
        "no-script-url": 0,
        "no-unused-expressions": 0,

        "import/prefer-default-export": 0,
        "import/no-useless-path-segments": 1,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 0,
        "import/no-duplicates": 2,
        "import/order": [
            2,
            {
                "groups": ["builtin", "external", "unknown", "parent", "sibling", "index"],
                "newlines-between": "always"
            }
        ],
        "import/newline-after-import": 1,
        "import/no-named-as-default-member": 0,
        "import/namespace": 0,
        "import/named": 0,
        "@typescript-eslint/indent": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/member-delimiter-style": 0,
        "@typescript-eslint/no-unused-vars": 2,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-member-accessibility": 0,
        "@typescript-eslint/no-angle-bracket-type-assertion": 0,
        "@typescript-eslint/interface-name-prefix": 0
    }
}
